body {
    background-image: url("https://images-cdn.welcomesoftware.com/Zz05NmM1YjFjYjhlNDIxMWViODczZWQzYzBkNTFlNDU4ZA==");
    background-size: cover;
    background-attachment: fixed;;
}

h1 {
    text-decoration: underline;
    color:cadetblue;
    text-align: center;
    font-size: 75px;
}
* {
    font-family:Arial, Helvetica, sans-serif;
}
h1, 
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.text-block {
    
    background-color:floralwhite;
    top: 25%;
    margin: auto;
    width: 500px;
    height: 500px;
    text-align: center;
    color: darkslategray;
}
.me {
    width: 300px;
    margin: auto;
    margin-bottom: 0px;
    background-color: cadetblue;
    text-align: center;
    color: lightgray;
    font-size: medium; 
}
#name {
    text-align: center;
    font-size:x-large;
}
#flag {
    position: relative;
    height: 300px;
}
#image {
    position: absolute;
    height: 300px;
    top: 377px;
    left: 647px;
}