body {
    background-image: url("https://images-cdn.welcomesoftware.com/Zz05NmM1YjFjYjhlNDIxMWViODczZWQzYzBkNTFlNDU4ZA==");
    background-size: cover;
    background-attachment: fixed;;
}

h1 {
    text-decoration: underline;
    color:cadetblue;
    text-align: center;
    font-size: 75px;
}

.text-block {
    
    background-color:floralwhite;
    top: 25%;
    margin: auto;
    width: 500px;
    height: 500px;
    text-align: center;
    color: darkslategray;
}
.me {
    width: 300px;
    margin: auto;
    margin-bottom: 0%;
    background-color: cadetblue;
    text-align: center;
    color: lightgray;
    font-size: medium;
   
}
#name {
    text-align: center;
    font-size:x-large;
}